<div class="cont">
    <table class="table">
        <tbody>
            <tr>
                <td>
                <td><i class="fa-solid fa-trash-can"></i></td>
            </tr>
            <!--Modal Editor-->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop=":
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdrop:
                            <button type="button" class="btn-close" data-bs-backdrop:>
                            </h1>
                        </div>  






