{% extends 'layout.html' %}

{% block titulo %} registrate {% endblock %}

{% block contenido %}

{% extends 'layout.html' %}

{% block titulo %} Registrate {% endblock %}

{% block contenido %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">nombre</th>
          <th scope="col">descripcion</th>
          <th scope="col">precio</th>
          <th scope="col">stock</th>
          <th scope="col">imagen</th>
          <th scope="col">col</th>
        </tr>
      </thead>
      <tbody>
        (% for p in producto %)
        <tr>
          <th scope="row">{{p,0}}</th>
          <td>{{p,1}}</td>
          <td>{{p,2}}</td>
          <td>{{p,3}}</td>
          <td>{{p,4}}</td>
          <td>{{p,5}}</td>
          <td><img src="/static/img/{{p,6}}"></td>
        </tr>
      </tbody>
    </table>
  </div>
 
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

